<p style="color: green"><%= notice %></p>

<%= render @note %>

<% if current_user %>
  <div>
    <%= link_to "Edit this note", edit_note_path(@note) %> |

    <%= button_to "Destroy this note", @note, method: :delete %>
  </div>
<%end%>
  <%= link_to "Back to notes", notes_path %>
