<nav class="navbar navbar-dark fixed-top dark-blue-bg">
  <div class="container-fluid">
  <%= link_to "Dev Journal", root_path, :class => "navbar-brand page-title" %>
    <button class="navbar-toggler navbar-toggler-minimal" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end dark-blue-bg" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="page-title">Content</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">      
      <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
          <%= link_to "Home", root_path, :class => "nav-link active" %>
          </li>
          <li class="nav-item">
          <%= link_to "About", 'about/index', :class => "nav-link active" %>
        </li>
          <% @subjects.each do |subject| %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <%= subject.name %>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark dropdown-transparent">
              <% subject.notes.each do |note| %>
                <li><%= link_to note.title, note, :class => "dropdown-item" %></li>
              <% end %>
            </ul>
          </li>
          <% end %>
        </ul>
        <form class="d-flex mt-3" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-light" type="submit">Search</button>
        </form>
      </div>
    </div>
  </div>
</nav>

