<%= render 'home/sidebar' %>

<p style="color: green"><%= notice %></p>
    <div class="nav-buttons-container">
      <% if current_user %>
        <%= link_to "Edit this tag",
        edit_note_path(@tag),
        class: "btn btn-dark btn-sm nav-button" %>
        <%= button_to "Destroy this tag",
        @tag,
        method: :delete,
        class: "btn btn-dark btn-sm nav-button" %>
      <% end %>
    </div>

<div class="page-title">
  <h2>Notes with tag 
      <span class="tag">
        <%= render @tag %>
      </span>
  </h2>
</div>

<div class="container-responsive-margin">
  <% if @tag.notes.empty? %>
    <div class="no-results-message">
      <%= image_tag('search-icon.svg', size: '100x100') %>
      <p class="text-center">Sorry! Looks like there aren't any notes that use this tag :(</p>
    </div>
  <% else %>
    <% @tag.notes.order(created: :desc).each do |note| %>
      <div class="note-container">
        <%= render note %>
        <% if current_user %>
          <%= link_to "Edit this note",
          edit_note_path(note),
          class: "btn btn-dark btn-sm nav-button" %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>

